<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/navbar.html :: header( title = 'Post')"></head>
<body>
<div class="container">
    <nav th:replace="/base.html :: navbar( active = 'Post')"></nav>
    <h2>Lista de posts</h2>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <table class="table">
        <thead>
        <tr>
            <th>ID,</th>
            <th>Título,</th>
            <th>Nombre Autor</th>
            <th>Resumen.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, info : ${listapost}">
            <td th:text="${post.idpost}></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.user.}"></td>
            <td th:text="${post.summary}"></td>
            <td><a class="btn btn-primary" th:href="@{'/edit' + '?id=' + ${post.idpost}}">Editar</a>
            </td>
            <td ><a class="btn btn-danger" th:href="@{'/delete' + '?id=' + ${post.id}}">Borrar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>
</body>
</html>
